
{# By default, collection uses the form_widget block to create its markup, but we want a table #}
{% block collection_widget %}
    {% spaceless %}

        {#
         # This is almost a copy/paste of jquery.collection.html.twig, we can't use it as it also
         # use form_widget. Note that we also use form_widget(prototype) instead of form_row(prototype)
         # to avoid generating extra markup.
         #}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_widget(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}

        <fieldset class="well">
            {{ form_errors(form) }}

            {# Don't forget to add the collection attributes in your markup #}
            <table {{ block('widget_attributes') }}>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Null</th>
                    <th>UQ</th>
                    <th>Display</th>
                    <th>Options</th>
                    <th>Validations</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for item in form %}
                    {{ form_widget(item) }}
                {% endfor %}
                </tbody>
            </table>
        </fieldset>

    {% endspaceless %}
{% endblock %}

{% block wamePropertyType_widget %}
    {# widget_attributes will generate class="item" from the DiscountCollectionType.entry_options configuration #}
    <tr {{ block('widget_attributes') }}>
        <td>
            {{ form_widget(form.name) }}
        </td>
        <td style="width: 120px;">{{ form_widget(form.type) }}</td>
        <td>{{ form_widget(form.nullable, {label: 'N'}) }}</td>
        <td>{{ form_widget(form.unique, {label: 'U', }) }}</td>
        <td>{{ form_widget(form.displayField, {label: 'D', }) }}</td>
        <td style="width: 150px;">
            <div class="input-group" title="length">
                <span class="input-group-addon">L</span>
                {{ form_widget(form.length) }}
            </div>
            <div class="input-group" title="scale, precision">
                <span class="input-group-addon">s</span>
                {{ form_widget(form.scale) }}
                <span class="input-group-addon">p</span>
                {{ form_widget(form.precision) }}
            </div>

            <div class="input-group">
                {{ form_widget(form.targetEntity) }}
            </div>

            <div class="input-group">
                {{ form_widget(form.enumType) }}
            </div>
        </td>
        <td>
            {{ form_widget(form.validations) }}
        </td>
        <td class="text-center">
            <a href="#" class="collection-remove btn btn-xs btn-default" title="Delete element"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>

{% endblock %}