{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block page_title_text %}" }}
    {{ "{{ '"~entity_singularized~".new_title' | trans }}" }}
{{ "{% endblock %}" }}

{{ "{% block body %}" }}
    <div class="panel">
        <div class="panel-body">
            {{ '{{ form_start(form) }}' }}
            {{ '{{ form_widget(form) }}' }}
            <input type="submit" value="{{ "{{ 'button.create' | trans }}" }}" class="btn btn-primary" />
            {{ '{{ form_end(form) }}' }}
        </div>
    </div>

{% set hide_edit, hide_delete = true, true %}
{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{{ "{% endblock %}" }}
{% endblock body %}
