{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block page_title_text %}" }}
    {{ "{{ '"~entity_singularized|tabalize~".show_title' | trans }}" }}
{{ "{% endblock %}" }}

{{ "{% block body %}" }}
    <div class="panel">
        <div class="panel-body form-horizontal">
        {%- for field, metadata in fields if field not in 'deletedAt,createdAt,updatedAt,updatedBy,deletedBy,createdBy' %}

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    {{+ '{{ \'' ~ entity_singularized | tabalize ~ '.' ~field|tabalize ~ '\' | trans }}' }}
                </label>
                <div class="form-control-static col-sm-10">
                {%- if metadata.type in ['datetime'] %}
    
                    {{+ '{% if ' ~ entity_singularized | tabalize  ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized | tabalize  ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}
    
                {%- elseif metadata.type in ['date'] %}
    
                    {{+ '{% if ' ~ entity_singularized | tabalize  ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized | tabalize  ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}
    
                {%- elseif metadata.type in ['time'] %}
    
                    {{+ '{% if ' ~ entity_singularized | tabalize  ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized | tabalize  ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}
    
                {%- elseif metadata.type in ['dateinterval'] %}
    
                    {{+ '{% if ' ~ entity_singularized | tabalize  ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized | tabalize  ~ '.' ~ field|replace({'_': ''}) ~ '|date) }}{% endif %}' }}
    
                {%- elseif metadata.type in ['array'] %}
    
                    {{+ '{% if ' ~ entity_singularized | tabalize  ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized | tabalize  ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}
    
                {%- elseif metadata.type in ['boolean'] %}
    
                    {{+ '{% if ' ~ entity_singularized | tabalize  ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}

                {%- elseif metadata.type in ['text'] %}

                    {{+ '{{ ' ~ entity_singularized |tabalize ~ '.' ~ field|replace({'_': ''}) ~ ' | nl2br }}' }}

                {%- else %}
    
                    {{+ '{{ ' ~ entity_singularized |tabalize ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}
    
                {%- endif %}

                </div>
            </div>

        {%- endfor %}

        </div>
    </div>

{% set hide_edit, hide_delete = false, false %}
{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{{ "{% endblock %}" }}
{% endblock body %}
